.social-column {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  margin-top: 6rem;
  margin-bottom: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 4rem;
  
}

.social-links {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;

  a {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000;
    transform: rotate(180deg);
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
      background-color: currentColor;
      transform: scaleY(0);
      transition: transform 0.1s ease;
      transform-origin: center;
    }
    &:hover::after {
      transform: scaleY(1);
    }
  }
}

.vertical-line {
  height: 150px;
  width: 1px;
  background-color: hsl(0, 0%, 0%);
  margin: 1.5rem 0;
}

.social-footer {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  font-size: 15px;
  color: #000;
}



@media (max-width: 768px) {
  .social-column {
  position: absolute; // أو relative حسب التخطيط العام
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //height: 80vh; // أو auto إذا بتحب
  left: 0;
  top: 0;
  padding-left: 1rem;
  margin: 0rem 0 0 1.5rem;
  margin-top: 6rem;
  gap: 4rem;
  z-index: 1000; // مهم لضمان أنها فوق المحتوى
}


  .social-links {
    gap: 1.2rem;
    margin-bottom: 4rem;
    

    
  }

  

  .social-footer {
    margin-top: 8rem;
    color: #000;
    margin-bottom: 0rem;
  }
}
