@use '../../styles/variables' as *;

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: $bg-color;
  color: $text-color;
  overflow: hidden;
  margin-top: 4rem;
  margin-left: 26rem;
  
  

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    margin-bottom:26rem;
    
    
    

    .name {
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding-bottom: 8rem;
    margin-right: 42rem;
    
    
    

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-family: $font-main;
      font-size: 9vw;
      font-weight: 500;
      line-height: 1.1;
      letter-spacing: -0.02em;
      text-transform: uppercase;

      li {
        margin-bottom: 1.8rem;
        transition: transform 0.3s ease;
        cursor: pointer;

        &:hover {
          transform: translateX(10px);
          color: #999;
        }
      }
    }
  }
}
