@use "../../styles/variables" as *;

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 90vh;
  max-width: 1600px;
  width: 100%;
  background-color: $bg-color;
  color: $text-color;
  overflow: hidden;
  margin-top: 4rem;
  margin-left: 14rem;

  &__left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 12rem;
    height: 100%;
    //margin-bottom: 26rem;
    //margin-right: 10rem;
    max-width: 800px;
    width: 100%;

    .name {
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }

  &__subtitle {
    font-family: "Edu QLD Hand", cursive;
    font-size: 1rem;
    color: #222;
  }

  &__right {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    max-width: 800px;
    width: 100%;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-family: $font-main;
      font-size: 6.5vw;
      font-weight: 500;
      line-height: 1.1;
      letter-spacing: -0.02em;
      text-transform: uppercase;

      li {
        margin-bottom: 1.8rem;
        transition: transform 0.3s ease;
        cursor: pointer;

        &:hover {
          transform: translateX(10px) skewX(-5deg);
          color: #999;
        }
      }
    }
  }
}

@media (max-width: 1400px) and (min-width: 993px) {
  .hero {
    height: 80vh;
    max-width: 1100px;
    width: 100%;
    margin-left: 10rem;
    gap: 6rem;

    &__left {
      max-width: 600px;
      width: 100%;
      max-height: 100%;
    }

    &__right {
      max-height: 100%;

      max-width: 600px;
      width: 100%;

      ul {
        font-size: 5.4rem;
        line-height: 1.05;

        li {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;

    height: auto;
    width: 100%;
    max-width: 320px;
    margin-left: 7rem;
    gap: 4rem;
    padding: 2rem 0 1rem 0;

    &__left {
      padding-top: 0;
      text-align: start;

      .name {
        font-size: 1.5rem;
      }
    }

    &__right {
      text-align: start;
      align-items: flex-start;

      ul {
        font-size: 3rem;
        line-height: 1.1;

        li {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
