@use '../../styles/variables' as *;
.projects-page {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f9f4ef;
  overflow: hidden;
  padding: 0;
  transition: background-color 0.3s ease;
}


.background-overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: 1;
  transition: bottom 1.2s ease-out;
}


.projects-page.animate .background-overlay {
  bottom: 0;
}

.projects-page.animate .fade-in {
  opacity: 1;
  transform: translateY(0);
}

.left-side,
.right-side {
  flex: 1;
  padding: 4rem;
  color: #fff;
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease 0.8s, transform 1s ease 0.8s;
}


.left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 6vw;
  margin-left: 6vw;
  padding-right: 0px;

  .label {
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #aaa;
  }
  .desc {
    font-size: 0.95rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    max-width: 400px;
  }
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 16vw;

  .project-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .project-item {
      margin-bottom: 2rem;

      h2 {
        font-size: 4.5rem;
        margin: 0;
        font-family: $font-main;
      }

      span {
        font-size: 0.8rem;
        text-transform: uppercase;
        color: #bbb;
      }

      small {
        background: #fff;
        color: #111;
        padding: 2px 6px;
        font-size: 0.65rem;
        margin-left: 0.5rem;
        border-radius: 3px;
      }
    }
  }
}

