@use "../../styles/variables" as *;

.education-page {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: #111;
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;

  padding: 5rem 4rem 4rem 14rem;

  display: grid;
  grid-template-columns: 220px 430px 320px;
  gap: 2rem;
  align-items: center;
}

.background-overlay {
  position: absolute;
  inset: 0;
  background: #111;
  z-index: 1;
}

.fade-in {
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translateY(35px);
  transition:
    opacity 0.9s ease,
    transform 0.9s ease;
}

.education-page.animate .fade-in {
  opacity: 1;
  transform: translateY(0);
}

.education-intro {
  max-width: 300px;

  .label {
    font-size: 0.8rem;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: #bdbdbd;
    margin-bottom: 2.5rem;
    width: 100%;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    width: 100%;
  }
}

.education-main {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;

  margin-left: 14rem;
  width: 100%;
}

.education-card {
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 1.5rem;
  align-items: start;

  h2 {
    font-family: $font-main;
    //font-size: clamp(3rem, 4.1vw, 4.2rem);
    line-height: 0.9;
    margin: 0;
    font-size: 1.25rem;
  }

  span {
    font-size: 0.65rem;
    line-height: 1.35;
    text-transform: uppercase;
    color: #d0d0d0;
    padding-top: 0.35rem;
  }
}

.courses-section {
  min-width: 0;
  margin-left: 26rem;
  width: 100%;

  h2 {
    font-family: $font-main;
    font-size: clamp(2.4rem, 3.5vw, 3.4rem);
    line-height: 0.95;
    margin: 0 0 2rem;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 0.9rem;
    font-size: 0.78rem;
    line-height: 1.45;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.55rem;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #888;
    }
  }

  a {
    color: #e5e5e5;
    text-decoration: none;

    &::after {
      content: " ↗";
      font-size: 0.7rem;
    }

    &:hover {
      color: #fff;
    }
  }
}

@media (max-width: 1400px) {
  .courses-section {
    margin-left: 14rem;
  }
  .education-main {
    margin-left: 4rem;
  }
  .education-page {
    padding-left: 8rem;
    grid-template-columns: 250px 400px 250px;
    gap: 1rem;
  }

  .education-card {
    grid-template-columns: 1fr 120px;

    h2 {
      font-size: 1.25rem;
    }
  }
}

@media (max-width: 992px) {
  .education-page {
    padding: 4rem 1.5rem 4rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: flex-start;
  }

  .education-intro {
    max-width: 80%;
    margin-left: 3rem;

    p {
      font-size: 1rem;
      line-height: 1.7;
    }
  }

  .education-main {
    max-width: 80%;
    margin-left: 3rem;
    gap: 1rem;
  }

  .education-card {
    grid-template-columns: 1fr;
    gap: 1rem;

    h2 {
      font-size: 1rem;
      line-height: 0.95;
    }

    span {
      font-size: 01rem;
    }
  }

  .courses-section {
    max-width: 80%;
    margin-left: 3rem;

    h2 {
      font-size: 2.3rem;
    }

    li {
      font-size: 0.85rem;
    }
  }
}

@media (max-width: 600px) {
  .education-page {
    padding: 4rem 1.3rem;
  }

  .education-card h2 {
    font-size: 2.5rem;
  }

  .courses-section h2 {
    font-size: 2.3rem;
  }
}
